@font-face {
    font-family: 'Satoshi-Bold';
    src: url('../fonts/Satoshi-Bold.woff2') format('woff2'),
        url('../fonts/Satoshi-Bold.woff') format('woff'),
        url('fonts/Satoshi_Complete/Satoshi_Complete/Fonts/TTF/Satoshi-Variable.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-Italic';
    src: url('../fonts/Satoshi-Italic.woff2') format('woff2'),
        url('../fonts/Satoshi-Italic.woff') format('woff'),
        url('fonts/Satoshi_Complete/Satoshi_Complete/Fonts/TTF/Satoshi-VariableItalic.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'Satoshi-Black';
    src: url('../fonts/Satoshi-Black.woff2') format('woff2'),
        url('../fonts/Satoshi-Black.woff') format('woff'),
        url('fonts/Satoshi_Complete/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Black.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-Regular';
    src: url('../fonts/Satoshi-Regular.woff2') format('woff2'),
        url('../fonts/Satoshi-Regular.woff') format('woff'),
        url('fonts/Satoshi_Complete/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Satoshi-Regular';
    background-color: #fff;
    color: #000;
    line-height: 1.6;
}

header {
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    text-align: center;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
}

.logo img {
    width: 90px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    text-decoration: none;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #D26687;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

#about, #accolades {
    flex: 1 1 100%;
    margin: 10px 0;
    text-align: center;
}

section h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

section p, section ul {
    margin-bottom: 15px;
    font-size: 14px;
    padding-left: 0;
    list-style-type: none;
}

.juntos {
    background-image: url('gifs/colors.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.juntos h2 {
    font-size: 30px;
    font-family: 'Satoshi-Bold';
    text-align: center;
    color: black;
}

.juntos button {
    font-family: 'Satoshi-Bold';
    background-color: black;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.juntos button:hover {
    background-color: #D26687;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    padding: 20px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
}

.card-content {
    position: relative;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.card-content h2 {
    font-family: 'Satoshi-Bold';
    font-size: 18px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    background-color: #000;
    color: white;
}
